body {
  background-color: whitesmoke;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#wrapper {
  margin-top: 100px;
  display: grid;
  text-align: center;
}
#image-solo {
  border: thin solid #333;
  width: 250px;
  height: 250px;
  border-radius: 50% 5%;
  box-shadow: 1px 2px #333;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}
#image-solo:hover {
  border-radius: 5% 50%;
}
.my-name {
  margin-top: 15px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: wavy;
  font-size: 1.5em;
  color: #333;
  letter-spacing: 2px;
}
.list {
  list-style-type: none;
  padding: 0;
}
.list .item,
a {
  display: inline-block;
  text-decoration: none;
}
